<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content">
        <h1>About</h1>

        <div class="about-text text-justify">
            <p>
                This blog has been created to educate and inform society for  growing
                cyber threats and how to protect it`s personal life from them. Tutorials
                and guides inside are only for educational and information purpose. However,
                we are leaving ethics up to you and your conscience...


            </p>
        </div>
    </div>
</main>